
.myButton {
    box-shadow: 1px 1px 4px 1px #04d665;
    background-color: #00B956;
    border-radius: 6px;
    border: 1px solid #18ab29;
    /*display: inline-block;*/
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    margin: 0 0 10px 15px;
}
.myButton:hover {
     background-color: #56cb74;
    border: 1px solid #59a46c;
    box-shadow: 1px 1px 4px 1px #6bc482;
}

.myButton:active {
    background-color: #266d39;
    border: 1px solid #1e542c;

    position:relative;
    top:1px;
}

.hr{
    width: 426px;
    margin: 10px 0 10px 22px;
}
textarea {
    display: block;
    margin:10px auto 12px auto;
}
.text{
    margin-left: 15px;
}