.header{
    background: #3E6FA1;
    grid-area: header;
    position: relative;
}
.page_Header_inner{
    display: flex;
}
.page_Header_inner_logo img{
    width: 45px;
    height: 45px;
    margin-left: 290px;
    margin-top: 5px;
}
.fixed{
    position: fixed;
    background: #3E6FA1;
    width: 100%;

}


