.header{
    background: #00B956;
    grid-area: header;
    position: relative;
}
.header_page_inner{
    display: flex;
}
.header_page_inner_logo img{
    width: 45px;
    height: 45px;
    margin-left: 290px;
    margin-top: 5px;
}
.header_fixed{
    position: fixed;
    background: #00B956;
    width: 100%;

}
.clock{
    position: absolute;
    right: 0;
    margin: 5px 10px;
}


