.info {
    height: 100%;
    width: 466px;
    background: white;
    border-left: solid 1px #cccdcf;
    border-right: solid 1px #cccdcf;
    border-bottom: solid 1px #cccdcf;
    box-sizing: border-box;
    border-radius: 10px;

}
.info_person {
    font-size: 13px;
    color: #676767;
    width: 120px;
    margin: 5px 0 5px 20px;
}

.info_block,.info_block_hobbies {
    display: flex;
}

.info_wrap {
    font-size: 14px;
    margin-left: 50px;
    width: 250px;
    padding-top: 5px;
}

.info_block_hobbies {
    margin-bottom: 10px;
}