.friends{
    display: flex;
    width: 100%;
    height: 100%;
}

.friends_block_left{
    /*border: solid 1px #cccdcf;*/
    width: 550px;
    height: 100%;
    background: white;
}
.friends_block_right{
    border: solid 1px #cccdcf;
    width: 230px;
    height: 200px;
    background: white;
    margin-left: 10px;
}
.friends_block_left_input input{
    width: 550px;
    height: 30px;
    border-left: solid 1px #cccdcf;
    border-right: solid 1px #cccdcf;
    border-top: none;
    border-bottom: none;
    color: gray;
    padding-left: 10px;
    box-sizing: border-box;
}
.friends_block_left_input input:hover {
    background: #ebf5e4;

}